




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  min-height: 100vh;
  width: 100%;
}
.App.bgDark {
  background-color: black;
  color: white;
}
.darkmode {
  position: absolute;
  font-size: 1.6em;
  font-weight: bold;
  background-color: white;
  color: white;
  cursor: pointer;
  padding: 4px;
  top: 10%;
  left: 10%;
  border: 2px solid black;
  border-radius: 14px;
}
img {
  width: 70px;
}
.App.bgDark .darkmode {
  background-color: white;
  color: black;
}

.caculator-structure {
  width: 500px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 1);
}
.App.bgDark .caculator-structure {
  box-shadow: 0 0 4px 5px rgba(255, 255, 255, 1);
}

.screen {
  border: 2px solid black;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}
.App.bgDark .screen {
  border: 2px solid white;
}
.screen .answer {
  margin-top: 10px;
  font-size: 1.7rem;
}


.button-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.button-wrapper button {
  padding: 20px 0;
  width: 25%;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}
.button-wrapper .bigButton{
  width: 50%;
}
.App.bgDark .button-wrapper button {
  background-color: black;
  border: 1px solid white;
  color: white;
}

@media (max-width : 600px) {
  .caculator-structure {
    width: 300px;

  }
  img {
    width: 40px;
  }
}
@media (max-width : 400px) {
  .caculator-structure {
    width: 190px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 1);
  }
  img {
    width: 32px;
  }
}
