.App {
  text-align: center;
  display: grid;
  /* place-content: center; */
  /* grid-template-rows: 1fr; */
  min-height: 100vh;
  width: 100%;
  background-color: yellow;
}




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.caculator-structure {
  max-width: 500px;
  height: fit-content;
  background-color: gray;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.5);
}

.screen {
  border: 2px solid black;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}
.screen .answer {
  margin-top: 10px;
  font-size: 1.7rem;

}


.button-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.button-wrapper button {
  padding: 20px 0;
  width: 25%;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}