.App {
  text-align: center;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.caculator-structure {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.screen {
  border: 2px solid black;
  height: 80px;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
.button-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.button-wrapper button {
  padding: 20px 0;
  width: 25%;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}